.clients {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container__title {
  @media screen and (max-width: 1199px) {
    font-size: 28px;

    margin-bottom: 0;
  }
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
 
}

.clients-list__item {
  height: 92;
  
  @media screen and  (max-width: 767px) {
    width: 210px;

    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;

    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
  }

  width: 170px;
    
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--fill-icons-color);
  border-radius: 4px;

  @media screen and  (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }

  width: 170px;
  
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}

.clients-list__icon {
  fill: var(--fill-icons-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
