.footer {
  background-color: var(--background-hero-footer-color);

  padding-top: 60px;
  padding-bottom: 60px;

 
}

.home {
  color: var(--hero-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  display: block;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    text-align: center;
  }

  margin-top: 28px;
  width: 231px;
}

.home__contact {
  color: rgba(255, 255, 255, 0.6);

  display: block;
}

.footmail {
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer-container {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }

  display: flex;
  align-items: baseline;
  position: relative;
}

.footer-container__address {
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (max-width: 1199px) {
    width: 232px;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-left: 76px;
    margin-bottom: 60px;
  }

  margin-right: 70px;
}

.footer-link__title,
.footer-form__title {
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;

  margin-bottom: 20px;
}

.footer-link {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 1199px) {
    width: 206px;
    height: 80px;
  }
}
