.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container__title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
