.team {
  background-color: var(--background-section-color);

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container__title {
  font-weight: 700;
  text-align: center;
  line-height: 1.17;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  font-size: 36px;
  margin-bottom: 50px;
}

.cards {
  @media screen and (max-width: 767px) {
    display: block;
  }

  display: flex;
  flex-wrap: wrap;
}

.cards__section {
  background-color: var(--hero-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;

    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.cards__section:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.cards__section:nth-child(odd) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;
  }
}

.cards__person-card {
  @media screen and (max-width: 767px) {
    padding: 30px 122px 24px 122px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 30px 74px 24px 74px;
  }

  padding: 30px 32px;
}

.cards__person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 10px;
}

.cards__person-position {
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 16px;
}
