:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --hero-text-color: #ffffff;
    --description-text-color: #757575;
    --accent-color: #2196f3;
    --background-color: #f5f5f5;
    --background-section-color: #f5f4fa;
    --background-hero-footer-color: #2f303a;
    --fill-icons-color: #afb1b8;
    --primary-text-family: Roboto, sans-serif;
    --secondary-text-family: Raleway;
    --card-set-gap: 30px;
  }